= render 'points/p_form'
.content
  .content__header
    .content__header-name{data: {id: @group.id}}
      = @group.name
    = link_to edit_group_path(@group) do
      .content__header-name-group Group_Edit
  .content-player
    .content-player__name{data: {user_name: @g_name[0]}}
      .content-player__name__box
        = @g_name[0]
      .content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[0]
            %li.point{data: {point: @p_id, user_id: @user_id}}
              = point.point
      %ul.content-player__name__result
        合計点:
        %li.content-player__name__result__0
          = @res1
    .content-player__name1{data: {user_name: @g_name[1]}}
      .content-player__name__box
        = @g_name[1]
      .content-player__name__point1
        - @points.each do |point|
          -if point.user.name == @g_name[1]
            %li.point1{data: {point1: @p_id1, user_id: @user1_id}}
              = point.point
      %ul.content-player__name__result1
        合計点:
        %li.content-player__name__result__1
          = @res2
    .content-player__name2{data: {user_name: @g_name[2]}}
      .content-player__name__box
        = @g_name[2]
      .content-player__name__point2
        - @points.each do |point|
          -if point.user.name == @g_name[2] 
            %li.point2{data: {point2: @p_id2, user_id: @user2_id}}
              = point.point
      %ul.content-player__name__result2
        合計点:
        %li.content-player__name__result__2
          = @res3
    .content-player__name3{data: {user_name: @g_name[3]}}
      .content-player__name__box
        = @g_name[3]
      .content-player__name__point3
        - @points.each do |point|
          -if point.user.name == @g_name[3]
            %li.point3{data: {point3: @p_id3, user_id: @user3_id}}
              = point.point
      %ul.content-player__name__result3
        合計点:
        %li.content-player__name__result__3
          = @res4
-@rank.sort!
.contenta
  %li.contenta-a1
    順位:
    .content-player__name__result__1a
      - if (@rank[3] == @res1 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res1 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res1 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res1 && @flag == 0)
        = @four
  %li.contenta-a2
    順位:
    .content-player__name__result__1b
      - @flag = 0
      - if (@rank[3] == @res2 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res2 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res2 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res2 && @flag == 0)
        = @four
  %li.contenta-a3
    順位:
    .content-player__name__result__1c
      - @flag = 0
      - if (@rank[3] == @res3 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res3 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res3 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res3 && @flag == 0)
        = @four
  %li.contenta-a4
    順位:
    .content-player__name__result__1d
      - @flag = 0
      - if (@rank[3] == @res4 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res4 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res4 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res4 && @flag == 0)
        = @four
