.point__from
  %form#button
    %table.point__from-table
      %tr
        %td{colspan: "4"} 得点入力
      %tr
        %td
          %input{:type => "button", :value => "7", class: "val"}
        %td 
          %input{:type => "button", :value => "8", class: "val"}
        %td 
          %input{:type => "button", :value => "9", class: "val"}
        %td 
          %input{:type => "button", :value => "/", class: "calc"}
      %tr
        %td 
          %input{:type => "button", :value => "4", class: "val"}
        %td 
          %input{:type => "button", :value => "5", class: "val"}
        %td 
          %input{:type => "button", :value => "6", class: "val"}
        %td 
          %input{:type => "button", :value => "*", class: "calc"}
      %tr
        %td 
          %input{:type => "button", :value => "1", class: "val"}
        %td 
          %input{:type => "button", :value => "2", class: "val"}
        %td 
          %input{:type => "button", :value => "3", class: "val"}
        %td 
          %input{:type => "button", :value => "-", class: "calc"}
      %tr
        %td 
          %input{:type => "button", :value => "0", class: "val"}
        %td.red 
          %input{:type => "button", :value => "C", class: "calc"}
        %td 
          %input{:type => "button", :value => "=", class: "calc"}
        %td 
          %input{:type => "button", :value => "+", class: "calc"}
.content
  .content__header
    .content__header-name 
      = @group.name
    = link_to edit_group_path(@group) do
      .content__header-name-group Group_Edit
  .content-player
    .content-player__name
      .content-player__name__box
        = @g_name[0]
      .content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[0]
            %li.point
              = point.point
      %ul.content-player__name__result
        result:
        %li.content-player__name__result__0
          = @res1
    .content-player__name1
      .content-player__name__box
        = @g_name[1]
      .content-player__name__point1
        - @points.each do |point|
          -if point.user.name == @g_name[1]
            %li.point
              = point.point
      %ul.content-player__name__result1
        result:
        %li.content-player__name__result__1
          = @res2
    .content-player__name2
      .content-player__name__box
        = @g_name[2]
      .content-player__name__point2
        - @points.each do |point|
          -if point.user.name == @g_name[2] 
            %li.point
              = point.point
      %ul.content-player__name__result2
        result:
        %li.content-player__name__result__2
          = @res3
    .content-player__name3
      .content-player__name__box
        = @g_name[3]
      .content-player__name__point3
        - @points.each do |point|
          -if point.user.name == @g_name[3]
            %li.point
              = point.point
      %ul.content-player__name__result3
        result:
        %li.content-player__name__result__3
          = @res4
-@rank.sort!
.contenta
  %li.contenta-a1
    rank:
    .content-player__name__result__1a
      - if (@rank[3] == @res1 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res1 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res1 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res1 && @flag == 0)
        = @four
  %li.contenta-a2
    rank:
    .content-player__name__result__1b
      - @flag = 0
      - if (@rank[3] == @res2 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res2 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res2 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res2 && @flag == 0)
        = @four
  %li.contenta-a3
    rank:
    .content-player__name__result__1c
      - @flag = 0
      - if (@rank[3] == @res3 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res3 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res3 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res3 && @flag == 0)
        = @four
  %li.contenta-a4
    rank:
    .content-player__name__result__1d
      - @flag = 0
      - if (@rank[3] == @res4 && @flag == 0)
        = @one
        - @flag = 1
      - if (@rank[2] == @res4 && @flag == 0)
        = @two
        - @flag = 1
      - if (@rank[1] == @res4 && @flag == 0)
        = @three
        - @flag = 1
      - if (@rank[0] == @res4 && @flag == 0)
        = @four