.content
  .content__header
    .content__header-name 
      = @group.name
    = link_to edit_group_path(@group) do
      .content__header-name-group Group_Edit
  .content-player
    .content-player__name
      .content-player__name__box
        = @g_name[0]
      %ul.content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[0] 
            %li
              = point.point
      %ul.content-player__name__result
        %li.content-player__1-result result:
        %li.content-player__1-rank rank:
    .content-player__name
      .content-player__name__box
        = @g_name[1]
      .content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[1] 
            %li
              = point.point
      %ul.content-player__name__result
        %li.content-player__2-result result:
        %li.content-player__2-rank rank:
    .content-player__name
      .content-player__name__box
        = @g_name[2]
      .content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[2] 
            %li
              = point.point
      %ul.content-player__name__result
        %li.content-player__3-result result:
        %li.content-player__3-rank rank:
    .content-player__name
      .content-player__name__box
        = @g_name[3]
      .content-player__name__point
        - @points.each do |point|
          -if point.user.name == @g_name[3] 
            %li
              = point.point
      %ul.content-player__name__result
        %li.content-player__4-result result:
        %li.content-player__4-rank rank: