.header
  .header__user
    = link_to edit_user_path(current_user) do
      = current_user.name
  %ul.header--btn
    %li{class: "header--btn__log"}
      = link_to destroy_user_session_path, method: :delete do
        ログアウト
    %li.header--btn__create
      = link_to new_group_path do
        グループ作成
.groups
  グループ一覧
  - current_user.groups.each do |group|
    .group
      = link_to group_points_path(group) do
        .group__name
          = group.name