.header
  .header__user
    = link_to edit_user_path(current_user) do
      = current_user.name
  %ul.header--btn
    %li{class: "header--btn__log"}
      = link_to destroy_user_session_path, method: :delete do
        Rog_out
    %li.header--btn__create
      = link_to new_group_path do
        Group_create
.groups
  - current_user.groups.each do |group|
    .group 
      = link_to group_points_path(group) do
        .group__name
          = group.name
.point__from
  %form
    %table.point__from-table
      %tr
        %td{colspan: "3"} 得点入力
        %td.red c
      %tr
        %td 7
        %td 8
        %td 9
        %td ÷
      %tr
        %td 4
        %td 5
        %td 6
        %td ×
      %tr
        %td 1
        %td 2
        %td 3
        %td -
      %tr
        %td 0
        %td ･
        %td =
        %td +