.header
  .header__user
    = link_to edit_user_path(current_user) do
      = current_user.name
  %ul.header--btn
    %li{class: "header--btn__log"}
      = link_to destroy_user_session_path, method: :delete do
        Rog_out
    %li.header--btn__create
      = link_to new_group_path do
        Group_create
.groups
  - current_user.groups.each do |group|
    .group 
      = link_to group_points_path(group) do
        .group__name
          = group.name
.point__from
  %form#button
    %table.point__from-table
      %tr
        %td{colspan: "4"} 得点入力
      %tr
        %td
          %input#calc{:type => "button", :value => "7"}
        %td 
          %input#calc{:type => "button", :value => "8"}
        %td 
          %input#calc{:type => "button", :value => "9"}
        %td 
          %input#calc{:type => "button", :value => "÷"}
      %tr
        %td 
          %input#calc{:type => "button", :value => "4"}
        %td 
          %input#calc{:type => "button", :value => "5"}
        %td 
          %input#calc{:type => "button", :value => "6"}
        %td 
          %input#calc{:type => "button", :value => "×"}
      %tr
        %td 
          %input#calc{:type => "button", :value => "1"}
        %td 
          %input#calc{:type => "button", :value => "2"}
        %td 
          %input#calc{:type => "button", :value => "3"}
        %td 
          %input#calc{:type => "button", :value => "-"}
      %tr
        %td 
          %input#calc{:type => "button", :value => "0"}
        %td.red 
          %input#calc{:type => "button", :value => "C"}
        %td 
          %input#calc{:type => "button", :value => "="}
        %td 
          %input#calc{:type => "button", :value => "+"}

